################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GemSwords/copilot-chat/55b0db71/sessions
/.vs/GemSwords/CopilotIndices/17.14.1231.31060
